<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496000985102-utblpubfpni9vq4mf89slfggm79ptblv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496000985102-utblpubfpni9vq4mf89slfggm79ptblv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2dFTJMHMqquXytAkOQYxqFMOK1ULUvmU</string>
	<key>GCM_SENDER_ID</key>
	<string>496000985102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UI.Food-App</string>
	<key>PROJECT_ID</key>
	<string>uifoodapp</string>
	<key>STORAGE_BUCKET</key>
	<string>uifoodapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496000985102:ios:45c46c556c2c3e1409745f</string>
</dict>
</plist>